<%= form_for @brgy_avatar do |f| %>
  <% if @brgy_avatar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brgy_avatar.errors.count, "error") %> prohibited this painting from being saved:</h2>
      <ul>
      <% @brgy_avatar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <p>
    <%= f.file_field :avatar %>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>